
<ion-header>

  <ion-navbar>
    <ion-title>Listas da saida</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-searchbar animated=true placeholder="Pesquisar " (ionInput)="getItems($event)"></ion-searchbar>
  <ion-item>
    <ion-label stacked >Referências</ion-label>
    <ion-select [(ngModel)]="referenciaSelecionado" ionChange="selecionarReferencia(referencia.referencia)" [compareWith]="compareRefencia">
      <ion-option *ngFor="let referencia of referencias" [value]="referencia">{{referencia.referencia}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-list sliding="true" >
    <ion-item detail-push  *ngFor="let saida of saidasSearch">
      <h2><label>Nome da saída: </label>{{saida.nomeSaida | uppercase}}</h2>
      <h4><label>Descrição: </label>{{saida.descricao | uppercase}}</h4>
      <h4><label>Fonte: </label>{{saida.fonte | uppercase}}</h4>
      <h4><label>Valor: </label>{{saida.valor | currency:'R$ ' }} </h4>
      <h4><label>Data saída: </label>{{saida.dataSaida | date: 'dd/MM/yyyy'}}</h4>
      <ion-icon (click)="deletarSaida(saida)" item-right isActive="true" name="md-trash"></ion-icon>
    </ion-item>
  </ion-list>
  <h5><label>Total:</label> {{totalSaidas | currency:'R$ '}}</h5>
</ion-content>
