
<ion-header>

  <ion-navbar class="center">
    <ion-title>Cadastrar Saída</ion-title>
  </ion-navbar>

  <ion-fab top right edge mini style="top: 30px !important; right: 16px;">
    <button ion-fab (click)="salvarSaida()" [disabled]="formulario.invalid">
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-fab> 
</ion-header>


<ion-content padding>
  <form [formGroup]="formulario">
    <ion-item >
      <ion-label stacked >Nome Saida</ion-label>
      <ion-input [(ngModel)]="saida.nomeSaida" formControlName="nomeSaida" name="nomeSaida"  type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.nomeSaida.valid && (formulario.controls.nomeSaida.dirty || formulario.controls.nomeSaida.touched)">
      Por favor, informe a saída.
    </h6>

    <ion-item >
      <ion-label stacked >Descrição</ion-label>
      <ion-input [(ngModel)]="saida.descricao" formControlName="descricao" name="descricao"  type="text"></ion-input>
    </ion-item>
    
    <ion-item >
      <ion-label stacked >Fonte</ion-label>
      <ion-input [(ngModel)]="saida.fonte" formControlName="fonte" name="fonte"  type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.fonte.valid && (formulario.controls.fonte.dirty || formulario.controls.fonte.touched)">
      Por favor, informe o nome da fonte. Ex.: Se salário, informar o nome da empresa.
    </h6>

    <ion-item >
      <ion-label stacked >Valor </ion-label>
      <ion-input type="text" [(ngModel)]="saida.valor "  [brmasker]="{money: true, thousand: '.',  decimalCaracter: ',', decimal:'2'}" formControlName="valor" name="valor"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.valor.valid && (formulario.controls.valor.dirty || formulario.controls.valor.touched)">
      Por favor, informe o valor recebido.
    </h6>

    <ion-item>
      <ion-label stacked >Origem</ion-label>
      <ion-select [(ngModel)]="saida.origem"  formControlName="origem" [compareWith]="compareFn">
        <ion-option *ngFor="let origem of origensConvertido" [value]="origem">{{origens[origem] | uppercase}}</ion-option>
      </ion-select>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.origem.valid && (formulario.controls.origem.dirty || formulario.controls.origem.touched)">
        Por favor, informe a origem do recebimento. Ex.: Se aluguel, informar Aluguel.
    </h6>

    <ion-item >
      <ion-label stacked >Data do Débito</ion-label>
      <ion-datetime  displayFormat="DD/MM/YYYY" doneText="Selecionar" cancelText="Cancelar"  formControlName="dataSaida"  name="dataSaida" [(ngModel)]="saida.dataSaida"></ion-datetime>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.dataSaida.valid && (formulario.controls.dataSaida.dirty || formulario.controls.dataSaida.touched)">
        Por favor, informe a data do débito.
    </h6>

    <ion-item >
      <ion-label stacked style="margin-left: 10px;"> Cartão de Crédito</ion-label>
      <ion-checkbox slot="end"  mode="ios" value="false" checked="true" formControlName="isCredito" name="isCredito"  [(ngModel)]="saida.isCredito" ></ion-checkbox>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.isCredito.valid && (formulario.controls.isCredito.dirty || formulario.controls.isCredito.touched)">
      Por favor, informe se foi pago no cartão de Crédito!
    </h6>

    <ion-item >
      <ion-label stacked style="margin-left: 10px;">É parcelado</ion-label>
      <ion-checkbox  mode="ios" value="false" checked="true" formControlName="ehParcelado" name="ehParcelado"  [(ngModel)]="saida.ehParcelado" ></ion-checkbox>
    </ion-item>
    <h6 class="error" *ngIf="!formulario.controls.ehParcelado.valid && (formulario.controls.ehParcelado.dirty || formulario.controls.ehParcelado.touched)">
      Por favor, informe a quantidade de parcelas.
    </h6>

    <ion-item *ngIf="saida.ehParcelado">
      <ion-label stacked >Quantidade de Parcelas</ion-label>
      <ion-input type="number" [(ngModel)]="saida.qtdParcelas " formControlName="qtdParcelas" name="qtdParcelas"  type="text"></ion-input>
    </ion-item>
    <h6 class="error" *ngIf="saida.ehParcelado && !formulario.controls.qtdParcelas.valid && (formulario.controls.qtdParcelas.dirty || formulario.controls.qtdParcelas.touched)">
      Por favor, informe a quantidade de parcelas.
    </h6>

  </form>

  
</ion-content>
